* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
}

.container {
  background-image: url(js.img/background.png);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  padding: 7px;
  color: #fff;
}

nav {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin: 0 50px;
}

nav li {
  list-style: none;
}

nav ul {
  flex: 1;
}

nav ul a,
a {
  text-decoration: none;
  color: white;
}

nav img {
  width: 50px;
}

nav ul li {
  display: inline-block;
  margin: 10px 20px;
}
nav .btn {
  /* margin-right: 50px; */
  border: 2px solid white;
  padding-top: 3px;
  width: 60px;
  height: 30px;
  border-radius: 50px;
  text-align: center;
}

.content {
  margin: 10% 50px;
  font-size: 30px;
}

#crypto {
  color: orange;
}

.content p {
  font-size: 15px;
  margin-top: 20px;
}

.content button {
  margin-top: 30px;
  background-color: orange;
  color: #fff;
  font-weight: 500;
  padding: 10px;
  outline: 0;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
}
.coin-list {
  position: absolute;
  right: 10%;
  bottom: 50px;
  display: flex;
  align-items: center;
}
.coin {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 0 15px;
  color: #ff960b;
  border: 1px solid #fff;
  padding: 20px 30px;
  border-radius: 8px;
}
.coin img {
  width: 40px;
  margin-right: 10px;
}    
.coin h3 {
  color: #fff;
}
