* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  place-items: center;
  background-color: rgb(16, 163, 221);
  width: 100vw;
  height: 100vh;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(3, 136, 188);
  padding: 10px;
  border-radius: 10px;
}

#length {
  width: 40px;
}

.btn {
  text-align: center;
}

.labels,
.text-area {
  display: flex;
  justify-content: right;
  gap: 50px;
}
